<!DOCTYPE html>
<html>
    
    <head>
        
        <meta charset="utf-8">
        
        <title>none</title>
        
        <meta name="description" content="Lecture examples">
        <meta name="author" content="Conor O&amp;Reilly">
        <meta name="keywords" content="CSS, Examples">
        
        <meta http-equiv="refresh" content="30">
        
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0">
        
    </head>

    <body>
        
        <p> put content here </p>
        
    </body>
    
    
</html>
